@model testhw1.Models.SalesOrder

@using (Html.BeginForm("OrderSave", "Order"))
{
<table>
    <tr>
        <th>客戶名稱</th>
        <th>@Html.DropDownList("SelectCustomer", (IEnumerable<SelectListItem>)ViewBag.SelectCustomer)</th>
    </tr>
    <tr>
        <th>負責員工</th>
        <th>@Html.DropDownList("SelectEmployee", (IEnumerable<SelectListItem>)ViewBag.SelectEmployee) </th>
    </tr>
    <tr>
        <th>訂購日期</th>
        <th><input type="date" id="OderDate" name="OderDate" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" /></th>
    </tr>
    <tr>
        <th>需要日期</th>
        <th><input type="date" id="RequiredDate" name="RequiredDate" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" /></th>
    </tr>
    <tr>
        <th>出貨日期</th>
        <th><input type="date" id="ShipperDate" name="ShipperDate" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}" /></th>
    </tr>
    <tr>
        <th>出貨公司</th>
        <th>@Html.DropDownList("SelectCompony", (IEnumerable<SelectListItem>)ViewBag.SelectCompony)</th>
    </tr>
    <tr>
        <th>運費</th>
        <th><input type="text" id="Freight" name="Freight" /></th>
    </tr>
    <tr>
        <th>出貨國家</th>
        <th><input type="text" id="Freight" name="Freight" /></th>
    </tr>
    <tr>
        <th>出貨城市</th>
        <th><input type="text" id="Freight" name="Freight" /></th>
    </tr>
    <tr>
        <th>出貨地區</th>
        <th><input type="text" id="Freight" name="Freight" /></th>
    </tr>
    <tr>
        <th>出貨地址</th>
        <th><input type="text" id="Freight" name="Freight" /></th>
    </tr>


    <tr>
        <th>@ViewBag.Result</th>
        <th><input type="submit" value="存檔"> <input type="button" value="上一頁"></th>
    </tr>
</table>
}
