
@{
    ViewBag.Title = "搜尋訂單";
}

<h2>SearchOrder</h2>
@using (Html.BeginForm("SearchOrderResult", "Order"))
{ 
<table>
    <tr>
        <th>訂單編號</th>
        <th><input type="text" id="OrderID" name="OrderID"/></th>
    </tr>
    <tr>
        <th>客戶名稱</th>
        <th><input type="text" id="ContactName" name="ContactName"/></th>
    <tr>
        <th>負責員工</th>
        <th>@Html.DropDownList("SelectEmployee", (IEnumerable<SelectListItem>)ViewBag.SelectEmployee) </th>
    </tr>
    <tr>
        <th>出貨公司</th>
        <th>@Html.DropDownList("SelectCompony", (IEnumerable<SelectListItem>)ViewBag.SelectCompony)</th>
    </tr>
    <tr>
        <th>訂購日期</th>
        <th><input type="date" id="OderDate" name="OderDate" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}"/></th>
    </tr>
    <tr>
        <th>出貨日期</th>
        <th><input type="date" id="ShipperDate" name="ShipperDate" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}"/></th>
    </tr>
    <tr>
        <th>需要日期</th>
        <th><input type="date" id="RequiredDate" name="RequiredDate" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2}"/></th>
    </tr>
    <tr>
        <th>@ViewBag.Result</th>
        <th><input type="submit" value="查詢"> <input type="button" value="清除"> <input type="button" value="新增訂單"></th>
    </tr>
</table>
}