@{
    ViewBag.Title = "查詢結果";
}

<h2>SearchOrder</h2>

    <table>
        <tr>
            <th>訂單編號</th>
            <th>客戶名稱</th>
            <th>訂購日期</th>
            <th>發貨日期</th>
            <th>運費</th>
            <th>@ViewBag.OrderID</th>
            <th></th>
        </tr>

    </table>

