
@{
    ViewBag.Title = "SearchOrder";
}

<h2>SearchOrder</h2>
<table>
    <tr>
        <th>訂單編號</th>
        <th></th>
    </tr>
    <tr>
        <th>客戶名稱</th>
        <th></th>
    <tr>
        <th>負責公司</th>
        <th></th>
    </tr>
    <tr>
        <th>出貨公司</th>
        <th></th>
    </tr>
    <tr>
        <th>訂購日期</th>
        <th></th>
    </tr>
    <tr>
        <th>出貨日期</th>
        <th></th>
    </tr>
    <tr>
        <th>需要日期</th>
        <th></th>
    </tr>
    <tr>
        <th></th>
        <th></th>
    </tr>
</table>
