
@{
    ViewBag.Title = "搜尋訂單";
}

<h2>SearchOrder</h2>
@using (Html.BeginForm("SearchOrder", "Default"))
{ 
<table>
    <tr>
        <th>訂單編號</th>
        <th><input type="text" id="OrderID"/></th>
    </tr>
    <tr>
        <th>客戶名稱</th>
        <th><input type="text" id="ContactName" /></th>
    <tr>
        <th>負責員工</th>
        <th>@Html.DropDownList("SelectEmployee", (IEnumerable<SelectListItem>)ViewBag.SelectEmployee) </th>
    </tr>
    <tr>
        <th>出貨公司</th>
        <th>@Html.DropDownList("SelectCompony", (IEnumerable<SelectListItem>)ViewBag.SelectCompony)</th>
    </tr>
    <tr>
        <th>訂購日期</th>
        <th><input type="date" id="OderDate" /></th>
    </tr>
    <tr>
        <th>出貨日期</th>
        <th><input type="date" id="ShipperDate" /></th>
    </tr>
    <tr>
        <th>需要日期</th>
        <th><input type="date" id="RequiredDate" /></th>
    </tr>
    <tr>
        <th></th>
        <th><input type="submit" valusu查詢"> <input type="button" value="清除"> <input type="button" value="新增訂單"></th>
    </tr>
</table>
}